.product-card
	&__nav-list
		display: none
		padding: 29px 0
		@include for-tablet-landscape
			display: flex
			justify-content: space-between
			flex-wrap: wrap
	&__nav-item
		display: inline-block
		a
			display: inline-block
			font-size: 15px
			font-family: $bold-font
			color: #000
			text-decoration: none
			border-bottom: 1px dotted #c6c6c6
			transition: all .1s
			@include for-desktop
				font-size: 22px
		&:hover,
		&.active
			a
				color: #97d700
				border-color: #97d700
	&__galery
		padding: 40px 0 0
		@include for-tablet-landscape
			padding: 40px 0 12px

	&__slider-wrap
		position: relative
		overflow: hidden

	&__slider
		margin: 0 -10px
		@include for-tablet-landscape
			margin: 0 -15px
	
	&__slider-btn
		padding: 10px 0
		text-align: center

	&__slider-arrow
		display: inline-block
		background-color: #97d700
		border: none
		outline: none
		position: relative
		padding: 11px 14px
		box-shadow: 0 2px 0 rgba(129,185,9,1)
		border-radius: 3px
		transition: box-shadow .1s
		user-select: none
		cursor: pointer
		margin: 0 9px
		z-index: 99999 !important
		@include for-tablet-landscape
			width: auto
			height: auto
			position: absolute
			top: calc(50% - 30px)
			margin: 0
		&:active
			box-shadow: 0 1px 0 rgba(129,185,9,1)
		&:before
			content: ''
			display: block
			width: 11px
			height: 18px
			background: url(../img/arrow.png) no-repeat center center
	
	&__slider-prev
		left: 0
	&__slider-next
		right: 0
		&:before
			transform: rotate(180deg)

	&__slider-item
		max-width: 360px
		height: 233px
		background-size: cover
		margin: 0 10px
		@include for-tablet-portrait
			height: 262px
		@include for-tablet-landscape
			margin: 0 15px


	&__сharact
		padding: 23px 0 40px
	&__table
		display: table
		width: 100%

	&__tr
		display: table-row
		&:nth-child(2n-1)
			background: #f8f8f8

	&__td
		font-size: 12px
		font-family: $bold-font
		display: table-cell
		padding: 10px 32px 10px 2.5%
		width: 50%
		position: relative
		&:first-child
			@include for-tablet-landscape
				width: 58%
		&:nth-child(2n)
			font-family: $default-font
		@include for-tablet-portrait
			font-size: 14px
			padding: 8px 46px 9px 20px
		@include for-tablet-landscape
			width: auto

	&__td-link
		color: #97d700
		font-size: 14px
		border-bottom: 1px dashed #97d700
		transition: border-color .1s
		@include for-tablet-portrait
			margin: 0 5px
		&:hover 
			border-color: transparent

	&__tab-picker
		position: absolute
		top: 0 
		bottom: 0
		right: 13px
		margin: auto
		display: block
		@include for-tablet-portrait
			display:  none
		&.active
			transform: rotate(180deg)

	&__bl-mob
		display: block
		@include for-tablet-portrait
			display: inline

	&__answer
		display: block
		width: 26px
		height: 26px
		border: 1px solid #e3e3e3
		background-color: #fff
		border-radius: 50%
		position: absolute
		right: 2.5%
		cursor: pointer
		top: 8px
		margin: auto
		background: url(../img/answer-ic.png) center center no-repeat
		@include for-tablet-portrait
			right: 15px
			top: 0
			bottom: 0
	&__file
		padding: 30px 0
		@include for-tablet-portrait
			padding: 40px 0

	&__file-link
		display: inline-block
		width: 100%
		color: #97d700
		font-size: 14px
		font-family: $bold-font
		padding: 13px 15px 13px 45px
		border: 1px solid #e3e3e3
		border-radius: 3px
		position: relative
		transition: border-color .1s
		margin-bottom: 9px
		@include for-tablet-portrait
			margin-bottom: 20px
		@include for-tablet-landscape
			max-width: 262px
			margin-right: 20px
		@include for-desktop
			margin-right: 30px
		&:hover
			border-color: #ccc
		&:before
			content: ''
			display: block
			width: 17px
			height: 21px
			background: url('../img/file-ic.png') center center no-repeat
			position: absolute
			left: 15px

	&__tech
		padding: 30px 0
		@include for-tablet-portrait
			padding: 60px 0

	&__tech-row
		display: flex
		justify-content: flex-start
		position-relative
		margin-top: 30px
		&:first-child
			margin-top: 0

	&__tech-item+&__tech-item
		margin-left: 30px

	&__tech-item
		max-width: 165px
		width: 100%
		height: 128px
		border-radius: 3px
		border: 1px solid #e3e3e3
		background-color: #fff
		padding: 25px 23px 10px
		text-align: center
		overflow: hidden
		transition: border-color .1s
		cursor: pointer
		&:hover
			border-color: #97d700
		img
			display: inline-block
			max-width: 100%
			height: auto

		&.active
			color: #97d700
			border-color: #97d700
			cursor: auto

	&__tech-heading
		display: block
		font-family: $bold-font
		margin-top: 15px
		text-transform: uppercase

	&__geometry
		padding: 30px 0 50px
		@include for-tablet-portrait
			padding: 60px 0 54px

	&__toside-wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&__left,
	&__right
		width: 100%
		@media (min-width: 1000px)
			width: 48.6%


	&__article
		margin-top: 23px
		@include for-tablet-portrait
			padding-top: 35px
		@media (min-width: 1000px)
			padding-top: 0
			padding-bottom: 25px
		h3
			font-size: 14px
			font-family: $bold-font
			line-height: 14px
			text-transform: uppercase
			margin-bottom: 10px
		p
			font-size: 14px
			line-height: 24px

	&__article-link
		display: inline-block
		text-align: center
		min-width: 190px
		box-shadow: 0 2px 0 #81b90a
		border-radius: 3px
		color: #fff
		font-size: 12px
		font-family: $bold-font
		text-transform: uppercase
		padding: 13px 25px
		cursor: pointer
		background-color: #97d700
		margin: 13px 0 6px
		transition: box-shadow .1s
		cursor: pointer
		user-select: none
		@include for-tablet-portrait
			margin: 13px 0
		&:active
			box-shadow: 0 1px 0 rgba(129,185,9,1)
	&__review
		padding: 30px 0
		@include for-tablet-portrait
			padding: 52px 0

	&__review-raw
		display: block
		margin: 0 auto
		width: 90%
		height: 162px
		@media (min-width: 400px)
				height: 280px 
		@include for-tablet-portrait
			max-width: 498px
	&__review-text
		margin-top: -9px
		@include for-tablet-portrait
			margin-top: 0
		p
			line-height: 24px
			margin-bottom: 20px

	&__review-video
		background: #fff
		text-align: center
		border-radius: 3px
		border: 1px solid #e3e3e3
		margin-top: 8px
		@media (min-width: 1000px)
			margin-top: -60px

	&__video-title
		font-size: 18px
		font-family: $bold-font
		line-height: 45px

	&__download-video
		padding: 15px 10px
		display: inline-block
		color: #97d700
		font-size: 14px
		font-family: $bold-font
		position: relative
		&:hover
			span
				border-bottom: 1px dotted #97d700
		&:before
			content: ''
			display: inline-block
			posiiton: absolute
			width: 14px
			height: 12px
			margin: 0 8px
			background: url(../img/download-video.png) center center no-repeat	
			position: relative
			left: 0

	&__similar
		padding: 30px 0 40px
		@include for-tablet-portrait
			padding: 52px 0 30px

	&__property
		padding: 30px 0
		@include for-tablet-portrait
			padding: 49px 0 37px

	&__property-tocart
		border-bottom: none

	&__property-notice
		color: #707070
		font-size: 12px
		line-height: 22px
		text-align: center
		margin-top: 10px
		padding: 0 27px
		@include for-tablet-portrait
			padding: 0
			text-align: left
			margin-top: 3px
	
.category-banner
	background-position: 63% center
	background-size: cover
	height: 500px
	display: flex
	justify-content: flex-start
	align-items: flex-end
	@include for-tablet-landscape
		align-items: center
	&__inner
		width: 100%
		padding: 25px 20px 29px
		text-align: center
		background: rgba(0,0,0,.5)
		@include for-tablet-portrait
			padding: 25px 20px 40px
		@include for-tablet-landscape
			width: 47.7%
			text-align: left
			padding: 25px 0 40px
	&__name
		color: #fffefe
		font-size: 26px
		font-family: $bold-font
		line-height: 28px
		@include for-tablet-portrait
			line-height: 36px
		@include for-tablet-landscape
			padding-right: 30px
			font-size: 36px
		@include for-desktop
			font-size: 50px
			line-height: 60px

	&__link
		display: inline-block
		color: #fff
		font-size: 12px
		font-family: $bold-font
		padding: 10px 20px	
		text-transform: uppercase
		box-shadow: 0 2px 0 #81b90a
		border-radius: 3px
		background-color: #97d700
		margin-top: 9px
		transition: box-shadow .1s
		cursor: pointer
		user-select: none
		@include for-tablet-portrait
			margin-top: 20px
		@include for-tablet-landscape
			font-size: 16px
		@include for-desktop
			font-size: 18px
			padding: 11px 32px	
		&:active
			box-shadow: 0 1px 0 #81b90a

#location-map
	height: 500px
	width: 100%
	.gmnoprint
		border-radius: 50% !important

/*.desk
	width: 100%
	height: 100px
	background-color: red
	position: absolute
	left: 0
	top: calc(100% + 20px)*/